doctype html
html
	head
		- var title = 'Syntax'
		include includes/head
	body
		.menu 
			.nav
				include includes/menu
				+createMenu(3)
		.main
			.container2
				.img1 
					img(src='img/css1.jpg')
				.img2 
					img(src='img/css2.jpg')
				.img3
					img(src='img/syntax.jpg')
				.text11 
					p. 
						Один из простейших видов руководств по оформлению кода (далее — стайлгайдов, прим. переводчика) — это набор правил касательно синтаксиса и форматирования. Наличие правил по оформлению CSS-стилей означает то, что код всегда будет понятен всем членам вашей команды.
				.text22
					p. 
						Чистый код дарит ощущение чистоты. С чистым кодом намного приятнее работать, такой код подталкивает других членов команды также соблюдать стандарты написания кода. Грязный код ужасен и отвратителен, с ним никому не захочется работать.
				.text33
					p. 
						После стремительного роста популярности CSS-препроцессоров многие разработчики стали чаще разбивать свой CSS-код на отдельные файлы. Даже если вы не используете препроцессоры, было бы хорошо поместить самостоятельные части кода в отдельные файлы, а затем соединять их в один файл при сборке проекта (например, с помощью Grunt или Gulp).
